@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";
@import "./normalize";
@import "./components";
@import "./containers";
@import "./pages/";

// =================================================================
// =========== Utility category (optional set of common libraries e.g. tailwind) ==============
// =================================================================

.freezed {
    overflow: hidden;
}

// =================================================================
// =================== Universal styles (not yet built into components) ========================
// =================================================================

// ...
// ...

// =================================================================
// ===================== Main style (main structure of website) =========================
// =================================================================

.env-info {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: z(env-info);
    font-size: 12px;
    color: $color-caption;
}
